{{ define "index" }}
{{ template "header" }}
      <main class="px-3">
        <h1>Shorten your link.</h1>
        <p class="lead"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut recusandae quisquam id earum omnis alias veniam sunt quasi debitis! Amet quo dolorum error cupiditate ut numquam sit reprehenderit eos. Debitis!</p>
        <br>
        <form action="/generate_link" method="post">
          <div class="input-group mb-3">
            <input type="text" name="longlink" id="longlink" class="form-control" placeholder="Shorten your link" aria-label="Shorten your link" aria-describedby="button-addon2">
            <button class="btn btn-primary">Shorten</button>
          </div>
        </form>
      </main>
{{ template "footer"}}
{{ end }}